<h1>Dashboard</h1>
<p>Welcome to your dashboard! You are now logged in.</p>
<h2>User Information</h2>

<p>First Name:   <%= user.firstName %></p>
<p>Last Name:    <%= user.lastName %></p>
<p>User Name:    <%= user.username %></p>
<p>Email:        <%= user.email %></p>
<p>Role:         <%= user.role %></p>
<p>Active User:  <%= user.isActive %></p>
<p>Data:         <%= user.data %></p>